{% extends "base.html" %}
{% block title %} Changed {% endblock %}
{% block content %}
<table class="table mb4">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <!-- <th scope="col">Speciality</th> -->
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for row in doctor_list %}
        <tr>
            <td>{{row.name}}</td>
            <td>{{row.surname}}</td>
            <td>
                <a href="/delete-appointment/{{row.id}}" type="button" class="btn btn-success">Delete</a>
                <a href="/edit-appointment/{{row.id}}" type="button" class="btn btn-success">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}