{% extends "base.html" %}
{% block title %} Select appointment {% endblock %}
{% block content %}
<br />
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ hospital_name }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for row in hospital_list %}
        <a class="dropdown-item" href="/get-doctors/?id={{row.id}}" data-value = "{{row.name}}">{{ row.name }}</a>
        {% endfor %}
    </div>
  </div>
<br />
<table class="table mb4">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Speciality</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for row in doctor_list %}
        <tr>
            <td>{{row.name}}</td>
            <td>{{row.surname}}</td>
            <td>{{row.speciality}}</td>
            <td>
                <a href="/create-appointment/?id={{row.id}}" type="button" class="btn btn-success">Create appointment</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}