{% extends "base.html" %}
{% block title %} SignUp {% endblock %}
{% block content %}
    <form method="POST">
        <h3 align="center">Sign Up</h3>
        <br />
        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        <ul>
            {% for error in form.name.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {{ form.surname.label(class="form-label") }}
        {{ form.surname(class="form-control") }}
        {{ form.passport_code.label(class="form-label") }}
        {{ form.passport_code(class="form-control") }}
        <ul>
            {% for error in form.passport_code.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {{ form.password1.label(class="form-label") }}
        {{ form.password1(class="form-control") }}
        {{ form.password2.label(class="form-label") }}
        {{ form.password2(class="form-control") }}
        <ul>
        {% for error in form.password1.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        <br />
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}